<template name="aboutspage">
  <body>

  <div class="container" id="bar">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="quiz1page">Quizzes</a> </li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="aboutspage">About</a></li>
          </ul>
          <div id="login-icon" align="right">
            {{ >loginButtons}}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="main" class="col-sm-12">
          <h4><b>Bootstrap</b></h4>
          Bootstrap was used to make the website more responsive.<br><br>
          <h4><b>Meteor</b></h4>
            accounts-password / accounts-ui <br>
            Accounts-password and accounts-ui was used to create a simple login where users are able to create a username and login. <br><br>
            check <br>
            Check was used to check the users answers with the answers in the database. <br><br>
            iron:router <br>
            To create and manage routes in the server and client side within the project. Making it faster due to not loading a whole new page. <br><br>
            jquery <br>
            Jquery was used to manipulate the DOM using CSS selectors. <br><br>
            tracker <br>
            Tracker is used to get user's scores to get recorded onto the scoreboard. <br><br>
            twbs: bootstrap <br>
            Package needed to be installed in order for us to use Bootstrap on Meteor. <br><br>
          <h4><b>CSS</b></h4>
          Styling for the website. <br><br>
          <h4><b>JavaScript</b></h4>
          To create events for user interactions.
      </div>
    </div>
  </div>

  <div class="container" id="footer">
    ICS 415 Amy Li and Noelle Chen
  </div>

  </body>

</template>
