<template name="aboutspage">
  <body>

  <div class="container" id="bar">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="quiz1page">Quizzes</a> </li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="aboutspage">About</a></li>
          </ul>
          <div id="login-icon" align="right">
            {{ >loginButtons}}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="main" class="col-sm-12">
          <h4><b>Bootstrap</b></h4> <br>
          <h4><b>Meteor</b></h4>
            accounts-password <br>
              Password support for accounts. <br>
            accounts-ui <br>
              Simple templates to add login widgets to an app. <br>
            check <br>
              Check whether a value matches a pattern. <br>
            iron:router <br>
              Routing specifically designed for Meteor. <br>
            jquery <br>
              Manipulate the DOM using CSS selectors. <br>
            tracker <br>
              Dependency tracker to allow reactive callbacks. <br>
            twbs: bootstrap <br><br>
          <h4><b>CSS</b></h4> <br>
          <h4><b>JavaScript</b></h4> <br>
      </div>
    </div>
  </div>

  <div class="container" id="footer">
    ICS 415 Amy Li and Noelle Chen
  </div>

  </body>

</template>
