<template name="aboutspage">
  <body>

  <div class="container" id="bar">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="aboutspage">About</a></li>
          </ul>
          <div id="login-icon" align="right">
            {{ >loginButtons}}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="main" class="col-sm-12">
          <b>Bootstrap</b> <br><br>
          <b>Meteor packages used:</b> <br>
            accounts-password <br>
            accounts-ui <br>
            check <br>
            iron:router <br>
            twbs: bootstrap <br>
      </div>
    </div>
  </div>

  <div class="container" id="footer">
    ICS 415 Amy Li and Noelle Chen
  </div>

  </body>

</template>
