<template name="quiz1page">
  <body>

  <div class="container">
    <div class="page-header">
      <h1 align="center">Trivia Quiz</h1>
      <div align="left">
        {{ >loginButtons}}
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="aboutspage">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="sidebar" class="col-sm-3">
        <p>Choose a Quiz:</p>
        <ul>
          <li><a href="quiz1page">Quiz 1</a></li>
          <li><a href="quiz2page">Quiz 2</a></li>
          <li><a href="quiz3page">Quiz 3</a></li>
        </ul>
      </div>
      <div id="main" class="col-sm-9">
        <form name="quiz1">
          <p>1.Great supplies of what favorite flavor were found in King Tut's tomb?<br></p>
          <p><input type="radio" name="q1" value="chocolate"> chocolate<br>
            <input type="radio" name="q1" value="peppermint"> peppermint<br>
            <input type="radio" name="q1" value="licorice"> licorice<br>
            <input type="radio" name="q1" value="strawberry"> strawberry<br></p>
          <p>2. What are the colors on a standard piece of candy corn, from the wide end to the narrow end?<br></p>
          <p><input type="radio" name="q2" value="orange, yellow, white"> orange, yellow, white<br>
            <input type="radio" name="q2" value="yellow, orange, white"> yellow, orange, white<br>
            <input type="radio" name="q2" value="orange, white, yellow"> orange, white, yellow<br>
            <input type="radio" name="q2" value="white, yellow, orange"> white, yellow, orange<br>
          </p>
          <p>3. What candy used to take 27 hours to make?<br></p>
          <p><input type="radio" name="q3" value="Laffy Taffy"> Laffy Taffy<br>
            <input type="radio" name="q3" value="Marshmallow Peeps"> Marshmallow Peeps<br>
            <input type="radio" name="q3" value="M&Ms"> M&Ms<br>
            <input type="radio" name="q3" value="Valentine message hearts"> Valentine message hearts<br>
          </p>
          <p>4. Who introduced chocolate to Europe in the sixteenth century?<br></p>
          <p><input type="radio" name="q4" value="the Chinese"> the Chinese<br>
            <input type="radio" name="q4" value="the Egyptians"> the Egyptians<br>
            <input type="radio" name="q4" value="the Vikings"> the Vikings<br>
            <input type="radio" name="q4" value="the Aztecs"> the Aztecs<br>
          </p>
          <p>5. What is cotton candy made of?<br></p>
          <p><input type="radio" name="q5" value="sugar, water, and gelatin"> sugar, water, and gelatin<br>
            <input type="radio" name="q5" value="sugar, corn syrup, and cornstarch"> sugar, corn syrup, and cornstarch<br>
            <input type="radio" name="q5" value="sugar only"> sugar only<br>
            <input type="radio" name="q5" value="sugar, water"> sugar, water<br>
          </p>
          <p>6. The first chewing gum in the United States was made of what?<br></p>
          <p><input type="radio" name="q6" value="tree sap"> tree sap<br>
            <input type="radio" name="q6" value="wax"> wax<br>
            <input type="radio" name="q6" value="gelatin"> gelatin<br>
            <input type="radio" name="q6" value="leaves"> leaves<br>
          </p>
          <p>7. The Pez dispenser was designed with what shape in mind?<br></p>
          <p><input type="radio" name="q7" value="a toothbrush"> a toothbrush<br>
            <input type="radio" name="q7" value="a pen"> a pen<br>
            <input type="radio" name="q7" value="a cigarette lighter"> a cigarette lighter<br>
            <input type="radio" name="q7" value="a cigarette"> a cigarette<br>
          </p>
          <p>8. Jelly beans were first advertised as a good treat to send soldiers during which war?<br></p>
          <p><input type="radio" name="q8" value="the Revolutionary War"> the Revolutionary War<br>
            <input type="radio" name="q8" value="the Civil War"> the Civil War<br>
            <input type="radio" name="q8" value="World War II"> World War II<br>
            <input type="radio" name="q8" value="World War I"> World War I<br>
          </p>

          <p>9. Where are Hershey's kisses thought to get their name?<br></p>
          <p><input type="radio" name="q9" value="they look like a puckered mouth"> they look like a puckered mouth<br>
            <input type="radio" name="q9" value="the chocolate makes a kiss sound during the manufacturing process"> the chocolate makes a kiss sound during the manufacturing process<br>
            <input type="radio" name="q9" value="they taste sweet like a kiss"> they taste sweet like a kiss<br>
            <input type="radio" name="q9" value="their inventor had a little dog named Kiss Kiss"> their inventor had a little dog named Kiss Kiss<br>
          </p>
          <p>10. How many colors are there in a roll of NECCO wafers?<br></p>
          <p><input type="radio" name="q10" value="eight"> eight<br>
            <input type="radio" name="q10" value="ten"> ten<br>
            <input type="radio" name="q10" value="five"> five<br>
            <input type="radio" name="q10" value="twelve"> twelve<br>
          </p>

          <input type="submit" id="submit"/>
          <input type="reset" value="Clear">
          Score = <input type=text size=15 name="percentage"><br>
        </form>
      </div>
    </div>
  </div>

  </body>

</template>


