<template name="quiz3page">
  <body>

  <div class="container" id="bar">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="aboutspage">About</a></li>
          </ul>
          <div id="login-icon" align="right">
            {{ >loginButtons}}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="sidebar" class="col-sm-3">
        <h4>Choose a Quiz:</h4>
        <ul>
          <li><a href="quiz1page">Quiz 1</a></li>
          <li><a href="quiz2page">Quiz 2</a></li>
          <li><a href="quiz3page">Quiz 3</a></li>
        </ul>
      </div>
      <div id="main" class="col-sm-9">
        <h3>Quiz 3</h3>
        <form class="quiz3">
          <p>1.If you were afraid of the number 13 (as in Friday the 13th), you'd suffer from:<br></p>
          <p><input type="radio" name="q1" value="thalassophobia"> thalassophobia<br>
            <input type="radio" name="q1" value="triskaidekaphobia"> triskaidekaphobia<br>
            <input type="radio" name="q1" value="ailurophobia"> ailurophobia<br>
            <input type="radio" name="q1" value="agoraphobia"> agoraphobia<br></p>
          <p>2. The word phobia means "a persistent, irrational fear of a particular thing" in what language?<br></p>
          <p><input type="radio" name="q2" value="Ancient Greek"> Ancient Greek<br>
            <input type="radio" name="q2" value="Latin"> Latin<br>
            <input type="radio" name="q2" value="Old English"> Old English<br>
            <input type="radio" name="q2" value="Hebrew"> Hebrew<br>
          </p>
          <p>3. A tour guide might have a hard time doing his job if he suffered from agoraphobia, which means a fear of what?<br></p>
          <p><input type="radio" name="q3" value="Public speaking"> Public speaking<br>
            <input type="radio" name="q3" value="Heights"> Heights<br>
            <input type="radio" name="q3" value="Small spaces"> Small spaces<br>
            <input type="radio" name="q3" value=" Crowds, public places, or open areas"> Crowds, public places, or open areas<br>
          </p>
          <p>4. "Anchors Aweigh" might not be the favorite song of someone with thalassophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q4" value="Kidnapping, especially by pirates"> Kidnapping, especially by pirates<br>
            <input type="radio" name="q4" value="Sharks"> Sharks<br>
            <input type="radio" name="q4" value="Compasses"> Compasses<br>
            <input type="radio" name="q4" value="The sea"> The sea<br>
          </p>
          <p>5. Ali Baba, the woodcutter from the Arabian Nights, would not likely suffer from xylophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q5" value="Strange words"> Strange words<br>
            <input type="radio" name="q5" value="Knives, sharp objects"> Knives, sharp objects<br>
            <input type="radio" name="q5" value="Wooden objects or forests"> Wooden objects or forests<br>
            <input type="radio" name="q5" value="Percussion music"> Percussion music<br>
          </p>
          <p>6. Working at a veterinary clinic would likely be difficult for anyone with ailurophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q6" value="Cats"> Cats<br>
            <input type="radio" name="q6" value="Suffering, illness, or ailments"> Suffering, illness, or ailments<br>
            <input type="radio" name="q6" value="Dogs"> Dogs<br>
            <input type="radio" name="q6" value="Allergies"> Allergies<br>
          </p>
          <p>7. It would be hard to be a schoolteacher if you had anglophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q7" value="Objects or spaces containing sharp angles"> Objects or spaces containing sharp angles<br>
            <input type="radio" name="q7" value="England or anything English"> England or anything English<br>
            <input type="radio" name="q7" value="Public speaking"> Public speaking<br>
            <input type="radio" name="q7" value="Fishing rods, rulers, pointers, or other long objects"> Fishing rods, rulers, pointers, or other long objects<br>
          </p>
          <p>8. A military leader might not be very effective with ballistophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q8" value="Missiles or bullets"> Missiles or bullets<br>
            <input type="radio" name="q8" value="Guns"> Guns<br>
            <input type="radio" name="q8" value="Chaos"> Chaos<br>
            <input type="radio" name="q8" value="Death"> Death<br>
          </p>

          <p>9. You might find it difficult to take a vacation with someone who had aviophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q9" value="Birds"> Birds<br>
            <input type="radio" name="q9" value="Airplanes"> Airplanes<br>
            <input type="radio" name="q9" value="New places"> New places<br>
            <input type="radio" name="q9" value="Receiving or giving advice or suggestions"> Receiving or giving advice or suggestions<br>
          </p>
          <p>10. A man might not make a very interesting date if he suffered from philophobia, or a fear of what?<br></p>
          <p><input type="radio" name="q10" value="Being or falling in love"> Being or falling in love<br>
            <input type="radio" name="q10" value="Social contact"> Social contact<br>
            <input type="radio" name="q10" value="Public areas"> Public areas<br>
            <input type="radio" name="q10" value="Giving gifts or making donations"> Giving gifts or making donations<br>
          </p>

          <input type="submit" value="Submit" />
          <input type="reset" value="Clear">
        </form>
      </div>
    </div>
  </div>

  <div class="container" id="footer">
    ICS 415 Amy Li and Noelle Chen
  </div>

  </body>

</template>


