<template name="scorespage">
  <body>

  <div class="container" id="bar">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbardata">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbardata">
          <ul class="nav navbar-nav">
            <li><a href="\">Home</a></li>
            <li><a href="quiz1page">Quizzes</a></li>
            <li><a href="scorespage">Scores</a></li>
            <li><a href="aboutspage">About</a></li>
          </ul>
          <div id="login-icon" align="right">
            {{ >loginButtons}}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div id="main" class="col-sm-6">
    <h1 align = "center">Score Board</h1><br>
    <h4 align = "center">{{ >scores}}</h4>
  </div>

  <div id="body" class="container">
    <div class="row row-eq-height">
      <div id="sidebar" class="col-sm-6">
        <h3> How this Works</h3>
        Users with a login will have their scores displayed on the scoreboard to see how they rank against other users. In addition, the score shown is the total score for all the quizzes the user has taken. A user may take a quiz more than once, but only the first score will be added to the total score shown on the scoreboard.
        <br><br>
        <div id="trophy"><img src="trophy.jpg" style="width:250px; height: 250px;"></div>
        <br><br><br><br><br><br><br><br>
      </div>

    </div>
  </div>

  <div class="container" id="footer">
    ICS 415 Amy Li and Noelle Chen
  </div>

  </body>

</template>

<template name="scores">
  <ul>
    {{#each user}}
      {{username}}: {{score}} <br><br>
    {{/each}}
  </ul>
</template>